@font-face {
    font-family: sw;
    src: url(./sw.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Roboto', sans-serif;
    width: 100vw;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

header {
    border: solid red;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: sw;
    margin-left: 2rem;
}

nav {
    border: solid green;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav > div {
    border: blue solid;
    margin: 0 5%;
    padding: 0.5rem;
}
